@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
* {
    text-align: center;
    Font-size: 16px;
    font-family: 'Karla', serif;
    font-weight: 400;
}

body {
    margin: 0;
}

h1,
h2 {
    font-family: 'DM Serif Display', serif;
    font-size: 40px;
    line-height: 40px;
}

p,
h1 {
    color: hsl(0, 0%, 98%);
    padding: 10px;
}

h2 {
    font-size: 30px;
}

p {
    line-height: 26px;
}

main h1 {
    padding: 55px 0px 0px;
    margin: 0;
}

navbar {
    display: flex;
    background-color: white;
    flex-direction: column;
}

.navbar-logo-hamburger {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

navbar img {
    margin: 20px;
}

.navbar-list li {
    color: white;
}

ul {
    list-style: none;
    font-weight: 700;
    letter-spacing: 0.7px;
}

.list-last-element {
    width: 300px;
    color: black;
    padding: 10px;
    border: solid 1px white;
}

.bottom-header {
    background: hsl(256, 26%, 20%);
    padding: 80px 20px;
    z-index: -2;
}

.center-border {
    width: 140px;
    height: 20px;
    padding: 10px;
    border: 1px solid white;
    text-transform: uppercase;
}

.hamburger {
    cursor: pointer;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.lines-img,
.right-lines-img {
    position: absolute;
    color: hsl(273, 4%, 51%);
    top: 0;
    left: 0;
    z-index: -1;
}

footer {
    margin-bottom: 100px;
}

.right-lines-img {
    top: 330px;
    left: auto;
    right: 0;
}

main h1,
main h2 {
    color: black;
}

main p {
    color: hsl(273, 4%, 51%);
}

main h1 {
    margin-bottom: 20px;
}

hr {
    border-color: purple;
    background-color: purple;
    margin: 150px 25% -10px 25%;
}

.main-svg {
    margin-top: 35px;
}

.center-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-foot {
    width: 80vw;
    height: 300px;
    background: hsl(256, 26%, 20%);
    margin: 150px auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.main-foot,
.main-foot h2 {
    color: white;
    margin: 60px 18px 65px;
    z-index: -2;
}

.main-foot img {
    position: absolute;
    right: 0;
    z-index: -10;
}

.logo-footer {
    margin: 80px auto 20px;
}

.social-media {
    margin-right: 10px;
}

footer hr {
    width: 80%;
    margin: 50px auto;
    border-color: grey;
    background-color: grey;
}

footer ul {
    display: block;
    text-transform: uppercase;
}

.main-li {
    margin: 30px auto;
    color: hsl(273, 4%, 51%);
}

li {
    color: hsl(270, 9%, 17%);
}

@media (min-width: 801px) {}

@media(max-width: 800px) {
    .navbar-list {
        padding: 0;
    }
    .navbar-links {
        display: none;
        position: fixed;
        background: rgb(54, 53, 54);
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }
    .navbar-links.active {
        display: flex;
        justify-content: center;
    }
}