    @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
    * {
        text-align: center;
        Font-size: 16px;
        font-family: 'Karla', serif;
        font-weight: 400;
    }
    
    body {
        margin: 0;
    }
    
    h1,
    h2 {
        font-family: 'DM Serif Display', serif;
        font-size: 40px;
        line-height: 40px;
    }
    
    p,
    h1 {
        color: hsl(0, 0%, 98%);
        padding: 10px;
    }
    
    h2 {
        font-size: 30px;
    }
    
    p {
        line-height: 26px;
    }
    
    main h1 {
        padding: 55px 0px 0px;
        margin: 0;
    }
    
    nav {
        display: flex;
        background-color: white;
        flex-direction: column;
    }
    
    .nav-logo-hamburger img {
        z-index: 100;
    }
    
    header img {
        z-index: -2;
    }
    
    .nav-links {
        display: none;
    }
    
    .nav-logo-hamburger {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }
    
    nav img {
        margin: 20px;
    }
    
    ul {
        list-style: none;
        font-weight: 700;
        letter-spacing: 0.7px;
    }
    
    .list-last-element {
        width: 300px;
        padding: 10px;
        border: solid 1px white;
    }
    
    .bottom-header {
        background: hsl(256, 26%, 20%);
        padding: 80px 20px;
        z-index: 0;
        position: relative;
    }
    
    .center-border {
        width: 140px;
        height: 20px;
        padding: 10px;
        border: 1px solid white;
        text-transform: uppercase;
        text-align: center;
    }
    
    .center-border:hover {
        background: white;
        color: hsl(256, 26%, 20%);
        cursor: pointer;
    }
    
    .hamburger {
        cursor: pointer;
    }
    
    .flex {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .lines-img,
    .right-lines-img {
        position: absolute;
        color: hsl(273, 4%, 51%);
        top: 0;
        left: 0;
        z-index: -1;
    }
    
    footer {
        margin-bottom: 100px;
        background-color: hsl(0, 0%, 98%);
    }
    
    .hr-into-main {
        display: none;
    }
    
    .right-lines-img {
        top: 330px;
        left: auto;
        right: 0;
    }
    
    main h1,
    main h2 {
        color: black;
    }
    
    main p {
        color: hsl(273, 4%, 51%);
    }
    
    main h1 {
        margin-bottom: 20px;
    }
    
    hr {
        border-color: purple;
        background-color: purple;
        margin: auto 25% -10px 25%;
    }
    
    .main-svg {
        margin-top: 35px;
    }
    
    .center-div {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .main-foot {
        width: 80vw;
        min-height: 41vh;
        background: hsl(256, 26%, 20%);
        margin: 150px auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
    }
    
    .main-foot,
    .main-foot h2 {
        color: white;
        margin: 60px 18px 65px;
        z-index: 0;
    }
    
    main {
        margin-top: 24vw;
        ;
    }
    
    .main-foot img {
        position: absolute;
        right: 0;
        z-index: -10;
    }
    
    .logo-footer {
        margin: 80px auto 20px;
    }
    
    .main-photo-mobile {
        width: 100%;
        height: auto;
    }
    
    .social-media {
        margin-right: 10px;
    }
    
    .social-media:hover {
        cursor: pointer;
    }
    
    .fb:hover {
        background-color: blue;
    }
    
    .twitter:hover {
        background-color: lightblue;
    }
    
    .printerest:hover {
        background-color: purple;
    }
    
    .instagram:hover {
        background-color: yellow;
    }
    
    footer hr {
        width: 80%;
        margin: 50px auto;
        border-color: grey;
        background-color: grey;
    }
    
    footer ul {
        display: block;
        text-transform: uppercase;
        color: hsl(270, 9%, 17%);
    }
    
    .main-li {
        margin: 30px auto;
        color: hsl(273, 4%, 51%);
        cursor: default;
    }
    
    li {
        width: 300px;
        padding: 10px;
        margin: 10px auto;
        cursor: pointer;
        font-weight: 700;
    }
    
    .main-foot .desktop {
        right: 0;
        left: auto;
        height: 100%;
    }
    
    @media (min-width: 801px) {
        nav {
            flex-direction: row;
            justify-content: space-between;
            margin: auto 100px;
        }
        h1 {
            font-size: 80px;
            line-height: 80px;
        }
        h2 {
            font-size: 35px;
            line-height: 35px;
        }
        .mobile {
            display: none;
        }
        .hamburger,
        .first-lines,
        .main-photo-mobile {
            display: none;
        }
        .nav-links,
        .bottom-header {
            display: flex;
            flex-direction: row;
        }
        .nav-list li {
            display: inline-block;
            width: auto;
        }
        .notlast-li {
            color: hsl(273, 4%, 51%);
        }
        .notlast-li:hover {
            color: hsl(270, 9%, 17%);
        }
        .list-last-element {
            border: 1px solid black;
            color: black;
        }
        .list-last-element:hover {
            color: white;
            background: black;
        }
        .main-photo-desktop {
            display: block;
        }
        .main-photo-desktop {
            width: 32vw;
            right: 9vw;
            position: absolute;
        }
        .main-box div:nth-of-type(2),
        .main-box div:nth-of-type(1) {
            margin-right: min(40px);
        }
        .main-purple-container {
            width: 50vw;
            margin-left: 5vw;
        }
        .main-purple-container>h1,
        .main-purple-container>p {
            text-align: left;
        }
        .main-purple-container div {
            float: left;
        }
        .main-purple-container hr {
            display: block;
            width: 16%;
            border-color: hsl(216, 30%, 68%);
            background-color: hsl(216, 30%, 68%);
            margin: 0 auto auto 20px;
        }
        main {
            margin-left: 10vw;
            margin-right: 5vw;
            display: flex;
            flex-direction: column;
        }
        main h1 {
            margin-bottom: 10vh;
        }
        main * {
            text-align: left;
        }
        .main-box {
            display: flex;
        }
        .main-foot {
            flex-direction: row;
            justify-content: space-between;
            height: 20vh;
        }
        .main-foot div {
            margin: auto 5vw auto auto;
        }
        .main-foot h2 {
            margin: auto auto auto 5vw;
        }
        .main-foot div {
            min-width: 150px;
        }
        .main-foot h2 {
            margin-right: 15vw;
        }
        footer {
            display: flex;
            flex-direction: column;
            text-align: left;
            margin-top: 150px;
        }
        footer hr {
            background-color: white;
            border-color: whitesmoke;
        }
        .foot-st-container {
            display: flex;
            margin: auto 120px;
            justify-content: space-between;
            align-items: space-between;
        }
        main hr {
            margin-left: 0;
            width: 10%;
        }
        .foot-st-container>.logo-footer,
        .foot-st-container>.social-media-container {
            margin: 20px 20px -10px 0px;
        }
        footer * {
            z-index: 0;
        }
        .footer-list-container {
            display: flex;
            flex-wrap: wrap;
        }
        footer li {
            margin: 0px;
        }
    }
    
    @media(max-width: 800px) {
        .desktop {
            display: none;
        }
        .center-border {
            margin-bottom: 40px;
        }
        .nav-list {
            padding: 0;
        }
        .nav-links.active {
            display: flex;
        }
        body.active {
            overflow: hidden;
        }
        .nav-links {
            position: fixed;
            justify-content: center;
            background: rgb(54, 53, 54);
            bottom: 0;
            right: 0;
            left: 0;
        }
        .nav-list li {
            color: white;
        }
        .list-last-element:hover {
            background: white;
            color: rgb(54, 53, 54);
        }
        .notlast-li:hover {
            color: hsl(273, 4%, 51%);
        }
        .main-photo-desktop {
            display: none;
        }
        .main-photo-mobile {
            display: block;
        }
    }